<nav class="navbar navbar-expand-lg navbar-light bg-nav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"><img width="80" src="../assets/imgs/logo-indra.jpg"></a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#"><b>Institucional</b> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><b>Produtos</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><b>Banco Indra para voce</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><b>Cartoes</b></a>
            </li>
        </ul>
        <div class="form-inline my-2 my-lg-0 control1">
            <button class="btn btn-outline-primary my-2 my-sm-0 btn-end" type="submit">Pesquisar</button>
            <input class="form-control mr-sm-2 btn-end" type="search">
            <a routerLink="/login" class="btn btn-outline-primary my-2 my-sm-0 btn-end" type="submit">Acessar</a>
            <a routerLink="/aberturacontas" class="btn btn-outline-primary my-2 my-sm-0 btn-end" type="submit">Abra sua
                conta</a>
        </div>
    </div>
</nav>

<div class="img">
    <img class="backgroud-fundo" src="../../assets/imgs/fundo.jpg" width="100%" height="100%">
    <div class="control2">
        <div class="row">
            <a class="box col-6" routerLink="/aberturacontas">
                <span class="material-icons icon-color">perm_identity</span>
                <br>
                Abra sua conta
            </a>
            <a class="box col-6 PSL15" routerLink="/login">
                <span class="material-icons icon-color">trending_neutral</span>
                <br>
                Acesse sua conta
            </a>
        </div>
    </div>
</div>
<div class="bg-content">
    <img class="backgroud-fundo" src="../../assets/imgs/fundo2.png" width="100%" height="40">
</div>